.flex-2-col {
    width: 50%;
    float: left;  
}

P {
    text-indent: 20px;
}

P:first-letter {
    font-size: 30px; 
    color: #87CEFA; 
}


.box-bg{
    transition: 1s;
    background: #ffffff;
}

.box-bg:hover {
    transition: 1s;
    background: #87CEFA;
}

.box-bg h2{
    transition: 0.5s;
    color: #87CEFA;
    
}

.box-bg h2:hover{
    transition: 0.5s;
    color: #ffffff;
    
}

.arrow-up {
    height: 0px;
    width: 0px;
    position: relative;
    
}

.tm-content-box {
    box-shadow: 0px 0px 20px #999999;
}

.carousel.slide.tm-content-box::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
	border-top: 20px solid #87CEFA; 
	border-right: 70px solid transparent;
    
}

.tm-content-box.flex-2-col::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
	border-top: 20px solid #87CEFA; 
	border-right: 70px solid transparent;
    
}

section:first-of-type::before {
    content: '';
    position: absolute;
	border-top: 20px solid #87CEFA; 
	border-right: 70px solid transparent;
    
}

.tm-content-box::before {
    content: '';
    position: absolute;
	border-top: 20px solid #87CEFA; 
	border-right: 70px solid transparent;
    
}

.padding-medium.flex-item.tm-team-description-container.flex-item h2:first-of-type {
    color:gainsboro;
    letter-spacing: 5px;
}

h2+P{
    font-style: italic;
}

.heading.tm-content-box a {
    color: black;
    text-shadow: white 0px 0px;
    
    text-decoration: underline 1px double white;


    
}

.heading.tm-content-box a:visited {

    color: #87CEFA;
    text-decoration: #87CEFA;
    
}


.heading.tm-content-box a:hover {
    text-decoration: white;
    color: #000000;
    
}


.box.box-work:nth-child(even){
    background: #f3f3f3;
}

.heading.tm-content-box li:nth-child(odd):nth-child(-n+3)::after {
    font-style: normal;
    font-size: 0.6em;
    color: red; 
    vertical-align: 0.8em;
    content: "New";

}

.form-group.col-xs-12.col-sm-12.col-md-6.col-lg-6.form-group-2-col-right.mandatory-field::after {
    color: red;
    display: flex; 
    content: "*";
}

.tm-content-box .padding-medium button{
    position: relative;
    background-color: #87CEFA ;
    color:white;
    transition: 1s;
    border-color:  #87CEFA;
    float: right;
}

.tm-content-box .padding-medium button:hover{
    background-color: white;
    color: #87CEFA;
    transition: 1s;

}

.tm-sidebar {
    box-shadow: 0px 0px 15px rgb(172, 172, 172);
}  
  
.tm-sidebar .tm-main-nav .tm-nav-item {  
    background-color: rgb(255, 255, 255);  
    transition: 1s;  
      
}  
  
.tm-sidebar .tm-main-nav .tm-nav-item:hover {  
    background-color: rgb(219, 219, 219);  
    transition: 1s;  
}  

.boxes.gallery-container .box.box-work div p::first-letter{
    color:rgb(77, 77, 77)
}
.boxes.gallery-container .box.box-work div p{
    color:rgb(77, 77, 77)
}